@import './tailwind.css';
@import './hero-colors.css';

/* Custom Utilities */
.mask-fade-sides {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}